@import '../styles/variables';
@import '../styles/fonts';
@import '../styles/css-reset';

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.input-area {
  margin: auto;
  padding-top: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  input#task-input {
    width: 240px;
    height: 2em;
    padding: 1em;
    margin-right: 2em;
    border: 2px solid $grey1;
    border-radius: 4px;

    &:focus {
      border-color: black;
    }

    &::placeholder {
      color: $grey1;
    }
  }

  #task-input-container {
    position: relative;

    // The pop-up
    #task-input-popup {
      visibility: hidden;
      position: absolute;
      cursor: pointer;
      user-select: none;
      background-color: black;
      border-radius: 10px;
      padding: 10px;
      bottom: 2.5rem;
      left: -0.15rem;

      // pop-up arrow
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 1rem;
        border-width: 8px;
        border-style: solid;
        border-color: black transparent transparent transparent;
      }

      &.show {
        visibility: visible;
        animation: fadeIn 0.5s;
      }
    }

    label {
      background-color: white;
      padding: 0 0.2rem;
      position: absolute;
      top: 9px;
      left: 18px;
      transition: all .1s ease-out;
      cursor: text;
    
      &.at-the-top {
        top: -11px;
        left: 9px;
        color: black;
      }
    }
  }
}

#task-input {
  font-family: 'FiraSans';
}

#task-input-label {
  font-family: 'FiraSans';
  color: hsl(0, 0%, 82%);
}

#task-input-popup {
  font-family: MontserratMedium;
  font-weight: normal;
  font-size: 0.75rem;
  color: white;
}
