@font-face {
  // src: url('./fonts/fira-sans/FiraSans-Regular.otf');
  src: url('./fonts/fira-sans/FiraSans-Regular.otf');
  font-family: FiraSans;
  font-weight: normal;
}

@font-face {
  src: url('./fonts/fira-sans/FiraSans-Bold.otf');
  font-family: FiraSans;
  font-weight: bold;
}

@font-face {
  src: url('./fonts/fira-sans/FiraSans-Light.otf');
  font-family: FiraSans;
  font-weight: lighter;
}

@font-face {
  src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
  font-family: Montserrat;
  font-weight: normal;
}

@font-face {
  src: url('./fonts/Montserrat/Montserrat-Bold.ttf');
  font-family: Montserrat;
  font-weight: bold;
}

@font-face {
  src: url('./fonts/Montserrat/Montserrat-Light.ttf');
  font-family: Montserrat;
  font-weight: lighter;
}

@font-face {
  src: url('./fonts/Montserrat/Montserrat-Medium.ttf');
  font-family: MontserratMedium;
  font-weight: normal;
}
